.counter {
  display: flex;
  align-items: center;
  border: 1px solid #00000042;
  border-radius: 5px;
  padding: 5px 0;
}
.counterButton {
  border: none;
  cursor: pointer;
  background: none;
  text-align: center;
  padding: 0 10px;
}
.counterValue {
  font-size: 14px;
  font-weight: 600;
  width: 50px;
  text-align: center;
  border: 1px solid #fff;
  transition: border 0.3s ease;
  border-radius: 5px;
  &:focus {
    outline: none;
    border: 1px solid #474747;
  }
}
