.container {
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 7px 15px -6px #00000042;
  background-color: #ffffff;
}
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.image {
  width: 100%;
  border-radius: 10px;
  height: 150px;
  object-fit: contain;
  object-position: center;
}
.title {
  font-size: 18px;
  font-weight: 600;
}
.price {
  font-size: 16px;
}
