/* From Uiverse.io by nikk7007 */
.container {
  display: flex;
  align-items: center;
  transform: scale(1);
}

.input {
  height: 1.7rem;
  width: 1.7rem;
  margin: 5px;
  display: inline-block;
  appearance: none;
  position: relative;
  background-color: #ddd9e4;
  border-radius: 15%;
  cursor: pointer;
  overflow: hidden;
}

.input::after {
  content: "";
  display: block;
  height: 0.9rem;
  width: 0.4rem;
  border-bottom: 0.31rem solid #a0ffe7;
  border-right: 0.31rem solid #a0ffe7;
  opacity: 0;
  transform: rotate(45deg) translate(-50%, -50%);
  position: absolute;
  top: 45%;
  left: 30%;
  transition: 0.25s ease;
}

.input::before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  background-color: #00c896;
  border-radius: 50%;
  opacity: 0.5;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.3s ease;
}

.input:checked::before {
  height: 130%;
  width: 130%;
  opacity: 100%;
}

.input:checked::after {
  opacity: 100%;
}

.span {
  font-size: 2rem;
}
